:root{
  --background: #00657D;
  --header: #00A088;
  --header-text: white;
}

header{
  background-color: var(--header);
  color: var(--header-text);
}

main{
  text-align: center;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.main-container{
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: var(--background);
  height: auto;

}

.cards-container{
  display: flex;
  flex-wrap: wrap;
  width: 90vw;
  height: auto;
  margin: auto;
  justify-content: space-between;
}

